h1 {
  color: blue;
  }

div {
  display: inline-block;
  }

.oferta {
  background-color: #f5f5a2
  }

.computadores {
  /*background-color: green;*/
  display: flex;
  justify-content: center;
  gap: 50px;
  height: 600px;
  align-items: center;
  }

 body {
 /*background-color: red;*/
 display:flex;
 justify-content: center;
 height: 100vh;
 align-items: center;
 flex-direction: column
 }
