body {
    background-color: #191919;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    }

h1 {
    color: white;

   }

.usuarios {
   color: white;
   font-weight: 500;
   font-size: 20px;
   text-align: center;
   display: flex;
   justify-content: center;
   gap: 15px;
   }

img {
   width: 150px;
   }

a {
  color: white;
  text-decoration: none;
  }

a:visited {
  color: white;
  }