body {
  background: linear-gradient(180deg, rgb(0, 150, 180) 0%, rgb(0, 100, 150) 100%);
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  }

img {
  width: 200px;
  display:block;
  }

.peixe1 {
animation: nadar-esq-dir 10s infinite;
}

.peixe2 {
animation: nadar-em-v 20s infinite;
}

.bolhas{
animation: bolhas-subindo 10s infinite;
opacity: 0.5;
}

@keyframes nadar-esq-dir {
from {transform: translateX(-100px) translateY(300px);
}
to {transform: translateX(100vw) translateY(400px) rotate(15deg);
}
}

@keyframes nadar-em-v {
0% {transform: translateX(-200px) translateY(100px);
}
50% {transform: translateX(50vw) translateY(800px) rotate(40deg);
}
100% {transform: translateX(100vw) translateY(100px) rotate(-40deg);
}
}

@keyframes bolhas-subindo {
 from {transform: translateX(50vw) translateY(50vh);
 }
 to {transform: translateX(50vw) translateY(-800px);
 }
 }